/* Centrage de la page  */


body
{
    background-image: url("../images/fond.jpg");
}

#block_page
{
	width: 90%;
	margin: auto;
}

h1 {
    font-family: 'RomanticBeach'
}

@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'cac_champagneregular';
    src: url('cac_champagne-webfont.eot');
    src: url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('cac_champagne-webfont.woff') format('woff'),
         url('cac_champagne-webfont.ttf') format('truetype'),
         url('cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}

h1 /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: Arial, serif;
}




#poste 
{
    font-weight: bold;
		font-size: 1.5em;
		color:  #966b3bfb;
    
}

img
{
    float: right;
    border-radius: 1.5em;
    border: 0.2em solid black;
    box-shadow: 3px 3px 3px black;
		margin-top: -3.9em;
		
}

footer
{
    text-align: center;
}



#conteneur
{
	display: flex;
	justify-content: space-between;
}

#divers
{
	display: flex;
	justify-content: flex-start;
}


#conteneur_langage
{
	display: flex;
	justify-content: flex-start;
	margin-right: 70%;
}

#hobbies
{
	margin-left: -19%;
}

h2
{
	color: #966b3bfb;
}